*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: $color-background;
  font-family: $font-text;
  color: $color-primary;
  font-size: $base-size;
  line-height: 1.7;
}

.container {
  max-width: 1343px;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  @include flex(column, stretch, center);
}

.row {
  @include flex(row, stretch, space-between);
  flex-wrap: wrap;
}

@include grid('sm');

@media(min-width: $size-md) {
  @include grid('md');
}

@media(min-width: $size-lg) {
  @include grid('lg');
}

@media(min-width: $size-xl) {
  @include grid('xl');
}
