@use 'sass:color';

.box {
  background-color: $color-light;
  border: 1px solid $color-border;
  border-radius: $radius;
  padding: $base-padding*2;
  margin: $base-padding 0;

  &:hover {
    border-color: color.scale($color-border, $lightness: -10%);
    cursor: pointer;
  }

  &__title {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: $base-margin - 8px;
  }

  &__text {
    font-size: 0.85rem;
    line-height: 1.4;
    margin: 0;
  }

  @mixin wrapper-mod($color) {
    background-color: color.scale($color, $lightness: 72%);
    color: $color;
  }

  &__icon-wrapper {
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    border-radius: $radius;
    margin-bottom: $base-margin;
    @include wrapper-mod($color-info);
    
    &--success {
      @include wrapper-mod($color-success);
    }

    &--warning {
      @include wrapper-mod($color-warning);
      background-color: color.adjust($color-warning, $lightness: 38%, $hue: 20deg);
    }

    &--violet {
      @include wrapper-mod($color-violet);
    }
  }

  &__icon {
    color: inherit;
    font-size: 18px;
  }
}