.section {
  background-color: lighten($color-primary, 40%);
  min-height: 635px;

  &__text {
    padding: $base-padding;
  }

  &__boxes {
    padding: $base-padding 0;
    height: 100%;

    >*{
      padding-left: 0;
      justify-content: flex-start;
    }

    >*:nth-child(even) {
      justify-content: flex-end;
    }
  }
}