@use 'sass:color';

.section {
  background-color: color.scale($color-primary, $lightness: 88%);
  background: 
    linear-gradient(180deg, color.scale($color-primary, $lightness: 75%, $alpha: -50%) 0%, color.scale($color-light, $alpha: -10%) 100%),
    linear-gradient(225deg, color.scale($color-primary, $lightness: 88%) 49.8%, transparent 50%, transparent 100%) 85% 70% / 20em 20em,
    linear-gradient(225deg, color.scale($color-primary, $lightness: 95%) 49.8%, transparent 50%, transparent 100%) 100% 0% / 25em 25em,
    linear-gradient(90deg, transparent 36.8%, $color-light 37%),
    radial-gradient(65em 60em at 30em 110%, color.scale($color-primary, $lightness: 78%) 49.8%, transparent 50%),
    $color-light;
  background-repeat: no-repeat;
  min-height: 635px;

  &__article {
    padding: $base-padding*3;
  }

  &__title {
    font-size: 0.85rem;
    font-weight: initial;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__subtitle {
    font-size: 3rem;
    line-height: initial;
    margin-bottom: $base-margin;
    font-weight: initial;

    strong {
      color: $color-strong;
      font-weight: initial;
    }
  }

  &__text {
    margin-bottom: $base-margin;
  }

  &__boxes {
    padding: $base-padding 0;
    height: 100%;

    >*{
      padding-left: 0;
      justify-content: flex-start;
    }

    >*:nth-child(even) {
      justify-content: flex-end;
    }
  }
}