@use 'sass:color';
@use 'sass:math';

.section {
  background-color: color.scale($color-primary, $lightness: 88%);
  background: 
    linear-gradient(180deg, color.scale($color-primary, $lightness: 80%, $alpha: -45%) 10%, color.scale($color-light, $alpha: -10%) 90%),
    linear-gradient(225deg, color.scale($color-primary, $lightness: 87%) 49.9%, rgba($color-primary, 0) 50%) 84% 67% / 18em 18em,
    linear-gradient(225deg, color.scale($color-primary, $lightness: 95%) 49.9%, rgba($color-primary, 0) 50%) 100% 0% / 24.5em 24.5em,
    linear-gradient(90deg, rgba($color-primary, 0) 30.4em, $color-light 30.5em),
    radial-gradient(70em 65em at 31em 116%, color.scale($color-primary, $lightness: 75%) 49.8%, rgba($color-primary, 0) 50%),
    $color-light;
  background-repeat: no-repeat;
  min-height: 635px;

  &__article {
    padding: $base-padding*3 - 2px;
  }

  &__title {
    font-size: 0.75rem;
    font-weight: initial;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: inherit;
  }

  &__subtitle {
    font-size: 3rem;
    line-height: initial;
    font-weight: initial;

    strong {
      color: $color-strong;
      font-weight: initial;
    }
  }

  &__boxes {
    // padding: 34px 17px 55px 0;
    height: 100%;

    >*{
      padding: 0 math.div($base-padding, 2);
      justify-content: flex-start;
    }

    >*:nth-child(even) {
      justify-content: flex-end;
    }
  }
}

@media(min-width: $size-lg) {
  .section {
    &__boxes {
    padding: 34px 17px 55px 0;
    margin-left: -17px;  

      >*{
        padding: 0 $base-padding 0 0;
      }
    }
  }
}